/* ========== All common css start=========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.4;
}

/* font-family: "Pangolin", cursive; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Rubik", sans-serif; */

/* ========== All common CSS section END=========== */

/* ========== header CSS section start=========== */
.navbar-nav .nav-item .nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    color: #000000;
    text-transform: capitalize;

}

.navbar-nav,
ul li a {
    display: flex;
    gap: 42px;
}

.primaryBtnFlex {
    display: flex;
    gap: 14px;
}

.primaryBtn {
    background: #C7E7E1;
    font-size: 16px;
    color: #124C5F;
    border-radius: 5px;
    padding: 14px 44px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    transition: all linear 0.5s;
}

.primaryBtn:hover {
    background: #124C5F;
    color: #FFFFFF;
}

/* ========== header CSS section END=========== */


/* ========== hero section Start========= */
#hero {
    background-image: url(../images/bacground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.heroContant h1 {
    margin-top: 141px;
    font-size: 44px;
    width: 506px;
    font-family: "Pangolin", cursive;
}

.heroContant p {
    margin-top: 10px;
    font-size: 19px;
    width: 432px;
    font-family: "Pangolin", cursive;
}
.primaryBtn-Two{
    background: #C7E7E1;
    font-size: 16px;
    color: #124C5F;
    border-radius: 5px;
    padding: 20px 35px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    transition: all linear 0.5s;
}
.primaryBtn-Two:hover {
    background: #124C5F;
    color: #FFFFFF;
}
.bannerBtn {
    margin-top: 30px;
}

/* ========= hero section end=========== */

/* ========== service section Start========= */
#services {
    padding: 41px 0;
}

.services-category h5 {
    position: relative;
    /* margin-bottom: 62px; */
    font-size: 28px;
    font-weight: 500;
    font-family: "Pangolin", cursive;
}

.services-category h5::before {
    position: absolute;
    content: "";
    bottom: 1px;
    left: 0;
    height: 3px;
    width: 117px;
    background-color: #3A8DA8;
}

.servicesFlex {
    display: flex;
    justify-content: space-between;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    height: 224px;
    width: 200px;
    padding: 52px 56px;
    border: 1px solid #98F2E1;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.content:hover {
    transform: translateY(-1px);
    border: 1px solid #FFEE94;
    background: linear-gradient(135deg, #FFFBEA, #FFFFFF);
    box-shadow: 0px 4px 74px 0px rgba(199, 231, 225, 0.27);
}

.content span {
    margin-top: 16px;
}

/* ========= service section end=========== */

/* ========== about section Start========= */
#about {
    position: relative;
    padding: 41px 0;
    min-height: 650px;
}

.about_left_img {
    position: relative;
    height: 550px;
}

.about_left_img img {
    position: absolute;
    right: 52px;
    top: 0;
}

.video {
    position: absolute;
    top: 80px;
    right: 70px;
}

.food {
    position: absolute;
    left: 380px;
    bottom: -50px;
}

.paw-img {
    position: relative;
}

.paw-img img {
    position: absolute;
    top: 0;
    right: 0;
}

.text h5 {
    margin-top: 100px;
    font-size: 34px;
    width: 510px;
    font-weight: 500;
    font-family: "Pangolin", cursive;
}

.text p {
    font-size: 19px;
    width: 533px;
    font-weight: 400;
    margin-bottom: 51px;
    font-family: "Roboto", sans-serif;
}

/* ========= about section end=========== */

/* ========== products section Start========= */
#products {
    position: relative;
    padding-top: 120px;
    padding-bottom: 60px;
}

.subtitle h5 {
    position: relative;
    margin: 0;
    padding-bottom: 2px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 38px;
    font-family: "Pangolin", cursive;
}

.subtitle h5::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: #3A8DA8;
}
.discount-title {
    font-size: 40px;
    font-weight: 400;
    color: #111;
    margin: 0;
     font-family: "Pangolin", cursive;
}
.discount-title strong {
    font-weight: 700;
}
.productsBtn{
    margin-top: 45px;
    display: flex;
    justify-content: end;
}
.product-card{
    margin-top: 55px;
}
.productGroup {
    position: relative;
    text-align: center;
    padding: 0 5px;
    transition: all 0.4s ease;
}
.droolsImg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
    left: 40px;

}
.bg-color{
    position: absolute;
    left: 0;
    bottom: -60px;
}
.products-contant h4{
    font-size: 28px;
    color: #000000;
    font-weight: 500;
    margin: 0;
    font-family: "Rubik", sans-serif;
}
.products-contant p{
    font-size: 22px;
    color: #979697;
    font-weight: 400;
    width: 284px;
    margin: 0;
    font-family: "Rubik", sans-serif;
}
.buy-btn{
    padding: 10px 48px;
    border: 2px solid #124C5F;
    border-radius: 6px;
    color: #124C5F;
    font-size: 22px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    margin-top: 15px;
    transition: all linear 0.4s;
}
.buy-btn:hover{
   background: #124C5F;
    color: #FFFFFF;
}
/* ========= products section end=========== */

/* ========== detail section Start========= */
#detail{
    background-image: url(../images/detail\ section.png);
   
    margin-bottom: 30px;
}
/* ========= detail section end=========== */

/* ========== testimonial section Start========= */
#testimonial{
    background-image: url(../images/testimonial.png); 
    padding: 40px$ git add .;
    margin-top: 120px;
}
/* ========= testimonial section end=========== */

/* ========== hero section Start========= */
/* ========= hero section end=========== */

/* ========== hero section Start========= */
/* ========= hero section end=========== */

/* ========== hero section Start========= */
/* ========= hero section end=========== */